#chatContainer {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    height: 350px;
    overflow-y: scroll;
    background-color: royalblue;
    color: white;
}

.message {
    position: relative;
    border-radius: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 70%; /* Sets the maximum width to 70% of the container */
    margin: 10px auto; /* Centers the message and adds spacing */
    word-wrap: break-word; /* Ensures long words break properly */
}

.message::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust position */
    left: 20px; /* Adjust position */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #f0f0f0;
}

/* Dot Loading Animation Styles */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white; /* Adjust color as needed */
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
}


.user-message {
    background-color: #e1ffc7; /* Light green for user messages */
    color: #333;
    text-align: right;
    float: right;
    clear: both;
    border: 1px solid #d0e0d0; /* Light border for definition */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

/* Bot message styles */
.bot-message {
    background-color: #f1f1f1; /* Light gray for bot messages */
    color: #333;
    text-align: left;
    float: left;
    clear: both;
    border: 1px solid #ccc; /* Light border for definition */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.card {
    background-color: whitesmoke;
    border-radius: 10px;
}

.media img {
    border-radius: 15%;
}
